/* style.css */

/*
커피명가

메인 컬러: #fff102 (yellow) - 로고 bg
서브 컬러: #52362A (brown)
footer 컬러: #2C2B2D;
*/

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth;}
ul { list-style-type: none;}
a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
}

h1 {
    font-size: 50px;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Noto Sans';
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

.title_txt {
    text-align: center;
    margin: 150px 0 150px 0;
}

/* header */
#main_header {
    width: 1200px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    /* border-bottom: 4px solid #fff102; */
}

#main_header > a {
  position: absolute;
  bottom: 0;
  height: 80px;
  /* transform: translateY(-50%); */
}
#main_header > a > img {
  width: 80px;
  height: 80px;
}

#gnb {
    /* outline: 1px solid red; */
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 52px;
    left: 130px;
    /* transform: translateX(-50%); */
    z-index: 9999; 
    width: 1010px;
}

#gnb > ul.depth1 {
    overflow: hidden;
    margin: 0 auto;
    /* outline: 1px solid red; */
  }

#gnb > ul.depth1 > li {
    float: left;
    text-align: left;
    padding-right: 20px;
    /* outline: 1px solid orchid; */
  }
  
  #gnb > ul.depth1 > li:last-child {
    padding-left: 100px;
    padding-right: 0;
    /* font-weight: bold; */

  }
  
  
  #gnb .depth1 > li > a {
    color: #2e2e2e;
    width: 120px;
    height: 50px;
    line-height: 50px;
    display: block;
    /* outline: 2px solid black; */
}

#gnb .depth1 > li > a:hover {
  border-bottom: 4px solid #fff102;
  font-weight: bold;
}

#gnb .depth1 > li:last-child {
  font-size: 14px;
}

#gnb .depth1 > li:last-child > a {
  width: 70px;
}

/* 2depth menu */
.bg {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 260px;
  background: rgba(255,255,255,0.9);
  display: none;
  z-index: 999;
}

#gnb .depth2 {
  /* outline: 1px solid blue; */
  font-size: 14px;
  height: 260px;
  display: none;
}

#gnb .depth2 > li > a {
    display: block;
    padding-top: 14px;
    color: #2e2e2e;
    font-weight: 400;
}

#gnb .depth2 > li > a:hover {
    /* color: #d6b887 */
    font-weight: bold;
}

.icons {
  position: absolute;
  right: 0;
  bottom: 10px;
  margin-right: 10px;
  /* margin-left: 10px; */
  font-size: 20px;
}

.icons > a {
padding: 0 2px;
}


/* main_banner */
#main_banner {
  /* 가변 크기, 한계값 설정 */
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.sliders {
  height: 600px;
}
.sliders > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* pager */
.pager {
  position: absolute;
  bottom: 20px;
  left: 50%;
  /* 자기 자신의 너비의 50%만큼 왼쪽으로 이동 */
  transform: translateX(-50%);
}

.pager > a {
  /* 박스로 바꾸기 위해 */
  float: left;
  width: 16px; height: 16px;
  margin: 6px;
  border: 2px solid #52362A;
  border-radius: 50%;
  text-indent: -999px;
}

.pager > a.active { background: #52362A;}


/* second_banner */
#moving_banner  {
  margin: 0 auto;
  width: 100%;
  height: 800px;
  min-width: 1200px;
  margin-bottom: 150px;
  background-image: url('../images/second_banner_bg2.png');
  color: white;
  font-family: 'Noto Serif KR', serif;
}

.moving_banner_text {
  width: 1200px;
  margin: 0 auto;
  padding-top: 65px;
  padding-left: 50px;
}

.moving_banner_text > p:first-child {
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 70px;
}

.moving_banner_text b {
  font-weight: 700;
}

.moving_banner_text > p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  color: #cacaca;
}

.menu_name > span {
  font-size: 14px;
  color: #cacaca;
  margin: 0 130px;
}

.menu_name > span:nth-child(1) { margin-left: 100px;}
.menu_name > span:nth-child(2) { margin-left: 90px;}
.menu_name > span:nth-child(3) { margin-left: 160px;}



#moving_banner > .image_pieces {
 width: 1200px;
 margin: 0 auto;
 text-align: center;
 /* outline: 2px solid red; */
 z-index: 9999;
 margin-top: 20px;
}

#moving_banner > .image_pieces > img {
  padding: 0 50px;
  position: relative;
}

.image_pieces >img:nth-child(1) {
 animation-name: rint1;
 animation-duration: 3.2s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;

}
.image_pieces >img:nth-child(2) {
 animation-name: rint2;
 animation-duration: 4.5s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
.image_pieces >img:nth-child(3) {
 animation-name: rint3;
 animation-duration: 3s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

@keyframes rint1 {
 0% {top: 20px;}
 50% {top:0px}
 100% {top:20px;}
}
@keyframes rint2 {
 0% {top: 0px;}
 50% {top:30px}
 100% {top:0px;}
}
@keyframes rint3 {
 0% {top: -20px;}
 50% {top:0px}
 100% {top:-20px;}
}

#moving_banner > .menu_name {
  font-size: 14px;
  width: 1200px;
  /* left: 50%; */
  margin: 0 auto;
  text-align: center;
  /* outline: 1px solid white; */
  margin-top: 30px;
}


/* 우측 nav */

.right_nav {
  z-index: 9999;
  position: fixed;
  display: none;
  right: 70px;
  top: 300px;
  /* outline: 1px solid red; */
}

.right_nav > a {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    position: relative;
    background: #FFF100;
    text-align: center;
    margin-bottom: 30px;
    line-height: 100px;
    font-weight: bold;
}

.right_nav > a:last-child {
  width: 40px;
  margin: 0 auto;
  height: 30px;
  border-radius: 0px;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  line-height: 26px;
  font-weight: 400;
}

/* 스크롤 높이에 따라 나타나게 설정 */
.show {
  display: block;
}

.hide {
  display: none;
}

/* NEWS */

#news {
  width: 1200px;
  margin: 0 auto;
  /* outline: 1px solid red; */
  margin-top: 150px;
  margin-bottom: 150px;
}

#news div {
  width: 580px;
  height: 250px;
}

#news #news_list {
  background: #52362A;
}

#news_list {
  float: left;
}

#search_fr {
  float: right;
}

#news h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  border-bottom: 1px solid #d2d2d2;
  margin-left: 40px;
}

#news a {
  color: #d2d2d2;
}
#news h3 > a {
  font-size: 20px;
}


#news_list li {
  line-height: 35px;
  color: #d2d2d2;
}

#news_list ul {
  margin: 20px 40px 20px 40px;
}

#news_list li > span {
  float: right;
}

#news > article {
  overflow: hidden;
}


/* 매장찾기 */
#search_fr {
  background-image: url('../images/search_fr_bg.png');
}

#search_fr > div {
  margin-top: 130px;
  margin-left: 30px;
}

#search_fr > div > p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}

#search_fr > div > input.input {
  margin-top: 15px;
  opacity: 0.6;
  width: 300px;
  height: 40px;
  font-size: 14px;
  padding-left: 14px;
}

.submit_btn {
  opacity: 0.8;
  width: 40px;
  height: 26px;
  font-size: 14px;
  position: relative;
  right: 60px;
  top: 1px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #4B4B4B;
}



/* 가맹안내 */
#fr {
  margin-top: 150px;
  width: 100%;
  /* min-width: 1920px; */
  background: url('../images/fr_bg.png') no-repeat center;
  background-size: cover;
  height: 500px;
  /* margin: 0 auto; */
  position: relative;
  /* z-index: -9999; */

}

#fr > div {
  /* max-width: 1200px; */
  /* outline: 1px solid purple; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#fr p {
  text-align: center;
  color: white; 
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 80px;
}

.fr_btn {
  text-align: center;
}

.fr_btn > a {
  display: inline-block;
  font-size: 16px;
  width: 160px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  margin: 0 30px;
}

.fr_btn > a:hover {
  background: rgba(255,255,255,0.7);
  border: 1px solid rgba(255,255,255,0.7);
  color: #000;
}

/* #coffee.myungga */
#sns {
  height: 840px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 150px;
}

#sns h2 {
  line-height: 50px;
  font-size: 20px;
}

.img_wrap {
  float: left;
  width: 240px; height: 240px;
  overflow: hidden;
}

.sns_img img{
  transform: scale(1);
  transition: 0.3s;
}

.sns_img a:hover > img {
  transform: scale(1.1,1.1);
}



/* footer */
#main_footer {
    background: #2C2B2D;
    height: 200px;
    text-align: center;
    color: #9F9F9F;
}

#main_footer > p:nth-child(1),
#main_footer > p:nth-child(4) {
  margin: 20px 0;
}

#main_footer > p {
  font-size: 13px;
  line-height: 24px;
}

#main_footer > p:first-child {
  width: 100%;
  border-bottom: 1px solid #4B4B4B;
  padding: 14px 0;
}

#main_footer > p > a {
  color: #D2D2D2;
}

#main_footer > p:nth-child(1) {
  font-size: 16px;
}

#main_footer > p > a {
  margin: 0 20px;
}

#main_footer > p > span {
  opacity: 0.2;
  margin: 0 15px;
}


