/*
sub2_1.css
커피
*/

/* 서브페이지 공통스타일 */

#title_img {
  max-width: 1920px;
  min-width: 1200px;
  height: 500px;
  margin: 0 auto;
  /* overflow: hidden; */
  margin-bottom: 0px;
  position: relative;
}
#title_img h2 {
  position: absolute;
  display: block;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Noto serif', sans-serif;
  font-style: italic;
}
#title_img > img {
  width: 100%;
  min-height: 400px;
}

section#title {
max-width: 1920px;
min-width: 1200px;
margin: 0 auto;
overflow: hidden;
margin-bottom: 50px;
}

section {
text-align: center;
}


/* 타이틀 이미지 */
section > img {
max-width: 1920px;
min-width: 1200px;
height: 500px;
}

/* lnb */
#lnb {
  width: 1200px;
  margin:  0 auto;
  height: 60px;
  margin-bottom: 30px;
}
#lnb li {
  float: left;
  width: calc(1200px / 6);
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #fff;
  color:#522C00;
}
#lnb li:last-child {
  margin-right: 0;
}
#lnb li a {
  font-size: 20px;
  display: block;
  box-shadow: 0px 3px 6px #e6e6e6;
}

#lnb li a:hover,
#lnb .active,
#lnb .active > a  {
  background: #FFF100;
}

/* breadcrumb */
.breadcrumbs {
  width: 1200px;
  margin: 0 auto;
  color: #787878;
  /* text-align: right; */
  text-align: left;
  padding-bottom: 100px;
}

.breadcrumbs > span {
  padding: 0 5px;
}

section h3 {
  font-size: 40px;
  /* color: #565656; */
  color: #2e2e2e;
  }

section > hr {
  border: 2px solid rgba(0,0,0,0.7);
  width: 150px;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 100px;
}

/* 에스프레소&베리에이션 */
#coffee_sec1 > ul {
  width: 1200px;
  margin: 0 auto;
  /* outline: 1px solid green; */
  overflow: hidden;
  margin-bottom: 150px;
}

#coffee_sec1 > ul > li {
  /* outline: 1px solid red; */
  float: left;
  margin: 0 50px;
  /* margin-top: 50px; */
  height: 300px;
  width: 200px;
  font-size: 20px;
}

#best_btn {
  width: 46px;
  height: 46px;
  background: #FFF100;
  font-size: 12px;
  border-radius: 50%;
  line-height: 46px;
  position: absolute;
}

#season_btn {
  width: 46px;
  height: 46px;
  background: #522C00;
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
  line-height: 46px;
  position: absolute;
}


/* 핸드드립커피 */

#coffee_sec2 {
  width: 1200px;
  margin: 0 auto;
  /* outline: 1px solid green; */
  padding: 0 50px;
  margin-bottom: 100px;
}

#coffee_sec2 > div{
  /* text-align: left; */
}

#coffee_sec2 > ul {
  overflow: hidden;
}

#coffee_sec2 > ul > li {
  float: left;
  margin-right: 160px;
  margin-bottom: 100px;
}

#coffee_sec2 > ul > li:nth-child(3) {
  margin-right: 0px;  
}

#coffee_sec2 .name {
  font-size: 14px;
  color: #2e2e2e;
  padding: 10px 0;
}

#coffee_sec2 .taste {
  font-size: 12px;
  color: #9a9a9a;
}

